@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
}

.global-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

/* HEADER STYLING */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.75rem;
    color: white;
    margin-top: 1.75rem;
    align-items: center;
}

header h4 {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}

header button {
    width: 11rem;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: #000;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    height: 43px;
    margin-right: 9.5rem;
}

header img {
    margin-left: 9.5rem;
}

/* END OF HEADER STYLING */

/* HERO STYLING */

.hero-section {
    width: 100%;
    background-image: url('./resources/images/image\ 3\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 41.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-section h1 {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; /* 106.25% */
    letter-spacing: 3.2px;
    width: 848px;
    height: 142px;
    margin-bottom: 1rem;
}

.hero-section p {
    width: 944px;
    height: 36px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
}

/**/

.boxing-intro {
    max-width: 1200px; /* Adjust width as needed */
    margin: 0 auto; /* This will center the div */
    margin-top: 2.75rem;
    padding: 2rem; /* Adjust padding as needed */
    background-color: #fff; /* If the div needs a different background */
    text-align: center;
}

.class-label {
    color: #000; 
    font-family: Rubik;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5rem; /* Adjust spacing as needed */
}

.class-title {
    font-size: 48px; /* Adjust size as needed */
    font-family: Rubik;
    font-weight: 600;
    margin-top: 2.0rem;
    letter-spacing: 1.6px;
    color: #000; /* Black, adjust as needed */
    margin-bottom: 0.4rem; /* Adjust spacing as needed */
}

.class-description {
    font-family: Rubik;
    font-size: 1rem; /* 16px, assuming the base font size is 16px */
    color: #333; /* Dark gray color, similar to the design */
    margin-bottom: 1.25rem; /* Adjusted bottom margin for spacing */
    max-width: 44rem; /* To ensure the text does not stretch too wide */
    letter-spacing: 0.6px;
    font-weight: 400;
    margin-left: auto; /* Center the text block horizontally */
    margin-right: auto; /* Center the text block horizontally */
}

.class-detail {
    font-size: 16px; /* Adjust size as needed */
    font-family: Rubik;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #000000; /* Dark gray, adjust as needed */
}

.info-section {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    max-width: 75rem; /* Maximum width of the container */
  }
  
  .info-section > div {
    display: flex;
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Center items vertically */
    width: 100%;
    margin-bottom: 2rem;

    
  }
  
  .text-content {
    flex: 1;
    padding: 0 2rem; /* Add padding on both sides */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */

    color: #000;
    font-family: Rubik;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05625rem;
  }
  
  .image-content {
    flex: 0 0 528px; /* Fixed width for image container */
    height: 307px; /* Fixed height for image container */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }
  
  .image-content img {
    padding: 2rem;
    width: auto;
    height: 100%;
    max-width: none; /* Override any max-width */
  }
  
  /* Updated font styles */
  body, h2, p {
    font-family: 'Rubik', sans-serif;
  }
  
  .info-section h2 {
    color: #000;
    font-family: Rubik;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.125rem;
    margin-bottom: 0.5rem;
  }
  
  .info-section p {
    font-size: 18px; /* Paragraph text size */
    line-height: normal; /* Line height for readability */
  }


/* Other styles remain the same */

/* Specific styles for 'About us' and 'Our facilities' */
.about-us {
  margin-top: 5rem;
  flex-direction: row; /* Text on the left, image on the right for 'About us' */
  border:1px solid red
}

.bg {
  background: #F9F9F9;
  height: 52.375rem
}

.our-facilities {
  flex-direction: row; /* Text on the left, image on the right for 'Our facilities' */
  padding-top: 2rem;
  border:1px solid red;
}

.test-test{
  padding-left: 3rem;
}

.what-to-expect {
  max-width: 1200px; /* Adjust width as needed */
  margin: 0 auto; /* This will center the div */
  margin-top: 2.75rem;
  padding: 2rem; /* Adjust padding as needed */
  background-color: #fff; /* If the div needs a different background */
  text-align: center;
}

.expect-title {
  font-size: 48px; /* Adjust size as needed */
  font-family: Rubik;
  font-weight: 600;
  margin-top: 2.0rem;
  letter-spacing: 1.6px;
  color: #000; /* Black, adjust as needed */
  margin-bottom: 0.4rem; /* Adjust spacing as needed */
}

.expect-description {
  font-family: Rubik;
  font-size: 1rem; /* 16px, assuming the base font size is 16px */
  color: #333; /* Dark gray color, similar to the design */
  margin-bottom: 1.25rem; /* Adjusted bottom margin for spacing */
  max-width: 44rem; /* To ensure the text does not stretch too wide */
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-left: auto; /* Center the text block horizontally */
  margin-right: auto; /* Center the text block horizontally */
}



/* Responsive design adjustments */
@media (max-width: 1024px) {
    .info-section > div {
      flex-direction: column;
    }
  
    .text-content, .image-content {
      width: 100%;
      padding: 0;
    }
  
    .image-content {
      height: auto; /* Adjust height accordingly */
    }
  
    .image-content img {
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Maintain aspect ratio */
    }
  }